### Sets

**Sets** are collection of different objects(elements)

**Common Characteristics**
* Sets are unordered (means original order when defined will not be retained).
* Sets contains unique elements.It will not contain any duplicate elements.

**Defines**: using {}

In [2]:
y = set(['tee','lll','kkk','lll'])

In [5]:
# Note: In the output duplicates are removed
y

{'kkk', 'lll', 'tee'}

In [6]:
s = 'thurs'

In [8]:
# list() - generate list of chars.

list(s)

['t', 'h', 'u', 'r', 's']

In [9]:
# set() - generate list of chars

In [11]:
#Note: Output is unordered, the order specified in definition is not maintained.

set(s)

{'h', 'r', 's', 't', 'u'}

In [12]:
x = {'hhh','kkk','kkk','ppp','nnn'}

In [13]:
x

{'hhh', 'kkk', 'nnn', 'ppp'}

In [15]:
# Empty set can be defined using set()

In [16]:
m = set()

In [17]:
type(m)

set

In [22]:
# Python will interpret {} as dict
n = ({})

In [21]:
type(n)

dict

**Set can contain different elements**

In [26]:
k={34,'ttt',(1,2,3),3.14}

In [27]:
k

{(1, 2, 3), 3.14, 34, 'ttt'}

**inbuilt function**

In [29]:
# Set does not support indexing
k[0]

TypeError: 'set' object is not subscriptable

In [30]:
# to add element in 'sets'
k.add('hi')

In [31]:
k

{(1, 2, 3), 3.14, 34, 'hi', 'ttt'}

In [36]:
# Difference b/w 2 sets

set1 = {'a','b','c'}
set2 = {'a','b','c','d'}

In [38]:
#Difference: All common elements will get removed

set2.difference(set1) # From set2 you will remove all the elements of set1

{'d'}

In [39]:
# Difference will not update set2
set2

{'a', 'b', 'c', 'd'}

In [43]:
# In order to update the difference you need to call difference_update
set2.difference_update(set1)

In [44]:
set2

{'d'}

In [45]:
#Intersection : Only the common elements will be displayed
set3 = {'a','b','c','sun','mon'}
set4 = {'a','b','c','sun'}

In [46]:
set3.intersection(set4)

{'a', 'b', 'c', 'sun'}

In [49]:
set3 #set3 is not updated

{'a', 'b', 'c', 'mon', 'sun'}

In [52]:
# Update intersection in set3
set3.intersection_update(set4)
set3

{'a', 'b', 'c', 'sun'}

### Dictionaries

Similar to List, it is a collection of objects.

**Characteristics**
* Dictionary is mutable(can be changed).
* Dictionary is dynamic (can grow & shrink).
* Dictionary can be nested.
* Dictionary contains key-value pair.

**Defined** - Usinf {"key(i)":"value(i)"}

In [53]:
dict = {}

In [54]:
type(dict)

dict

In [56]:
# Create a dictionary
dict1={"Planet1":"Neptune","Planet2":"Mercury","Planet3":"Jupiter"}

In [57]:
dict1

{'Planet1': 'Neptune', 'Planet2': 'Mercury', 'Planet3': 'Jupiter'}

In [58]:
# Retrieve dictionalry item using keys
dict1['Planet2']

'Mercury'

In [60]:
# Loop through dictionary keys
for x in dict1:
    print(x)

Planet1
Planet2
Planet3

In [61]:
# Loop through dictionary values
for x in dict1.values():
    print(x)

Neptune
Mercury
Jupiter

In [62]:
# loop through dictionary key-value using (.items())
for x in dict1.items():
    print(x)

('Planet1', 'Neptune')
('Planet2', 'Mercury')
('Planet3', 'Jupiter')

In [65]:
# add item to dictionary
dict1['Planet4']="Mars"

In [66]:
dict1

{'Planet1': 'Neptune',
 'Planet2': 'Mercury',
 'Planet3': 'Jupiter',
 'Planet4': 'Mars'}

In [68]:
# Update an dictionary item
dict1['Planet1']="Uranus"
dict1

{'Planet1': 'Uranus',
 'Planet2': 'Mercury',
 'Planet3': 'Jupiter',
 'Planet4': 'Mars'}

In [69]:
# Nested Dictionary - Dictionary within dictionary
planet1_temp={'Uranus':'Cool'}
planet2_temp={'Mercury':'Hot'}
planet3_temp={'Uranus':'Cool'}

In [70]:
planet_type = {'planet1':planet1_temp, 'planet2':planet2_temp,'planet3':planet3_temp}

In [71]:
planet_type

{'planet1': {'Uranus': 'Cool'},
 'planet2': {'Mercury': 'Hot'},
 'planet3': {'Uranus': 'Cool'}}

In [72]:
# Access dictionary item
print(planet_type['planet3'])

{'Uranus': 'Cool'}

### Tuples

Ordered collection of objects.

* Tuples are immutable(cannot be changed)

**Defined**: Using ()

In [81]:
# Define a tuple
t = ('see','sea','pear','pair','pear')

In [82]:
t

('see', 'sea', 'pear', 'pair', 'pear')

In [76]:
t[1]

'sea'

In [83]:
type(t)

tuple

In [80]:
# Replace a variable
t[1]='hi'

# Whole item can be changed(replaced). But item cannot be changed

TypeError: 'tuple' object does not support item assignment

In [84]:
# Inbuilt functions
t.count('pear') #Number of times an element occurred

2

In [86]:
t.index('sea') #Print index of an element.

1