## Python Basics

Lets Explore a few basics as a start using jupyter notebook.

Below are few topics talked about:

1. Datatypes
2. Variables
3. Variable assignment
4. Print formatting

### Lets explore "Data type"

Python has following data types built-in by default:

**Text type :** *str*

**Numeric Types:**	*int, float, complex*

...and there are few more (For a start lets pause here.)

In [2]:
2+2

4

In [3]:
5*4

20

In [4]:
20/2

10.0

In [5]:
20%2

0

In [6]:
2**3

8

In [10]:
# mathematical operation on string

5*'shal'

'shalshalshalshalshal'

In [ ]:
# identify the data types

In [11]:
type('shal')

str

In [12]:
type(1)

int

In [13]:
type(10.0)

float

In [18]:
type(False)

bool

### Lets explore "Strings"

In [20]:
# Two ways to define strings
"Hello"

'Hello'

In [21]:
'Hi'

'Hi'

In [22]:
# Both type are string

In [23]:
type('Shal')

str

In [24]:
type("Shal")

str

## Lets explore variable assignment

In python we dont have to declare or define variable in advance.

To create a variable you just assign a value.(Thats it!) and start using it.

In [27]:
a=50

In [28]:
type(a)

int

In [29]:
d='shal'

In [30]:
type(d)

str

In [31]:
## Mathematical operation

In [32]:
a=30
b=2

In [37]:
print(a/b)
print(a%b)
print((a**b)+(a*b))

15.0
0
960

## Explore different ways of printing

In [38]:
print("Hi")

Hi

Print format() was added in Python 2.6

Uses **{}** to mark where a variable will be substituted which the user provides.

In [39]:
print("I like {} for {}.".format('python','DS'))

I like python for DS.

In [40]:
print('{0} and {1}'.format('python','DS'))

python and DS

In [41]:
print('My name is {first} {last}'.format(first='Shal',last='Suj'))

My name is Shal Suj

## Explore len

It calculates the length

In [42]:
len('Shal')

4